$secondary-color: #fff;
$default-margin: 70px;
$spacing: $default-margin;
$font-wheight: 700;
$primary-color: #00FC87;
$myblue: #00c1fc;

body{
    margin-left: $default-margin;
    background: #000000;
    background-image: url(https://i.pinimg.com/736x/40/c7/12/40c712e5f3833bc38dbe1213da27069e--star-wars-wallpaper-iphone-star-wars-backgrounds.jpg);
    color: $primary-color;
    font-weight: $font-wheight;
    font-family: Lato,sans-serif;
    
    
}

p{
    color: $myblue;
    font-weight: $font-wheight;
    font-family: Lato,sans-serif;
}

.FilmHolder{
    clear: both;
}

li {
    display: inline-block;
}

.Species{
    display: inline-block;    
    margin-right: $default-margin;
    margin-bottom: $spacing
}

.HomeWorld{
    display: inline-block;
    margin-right: $default-margin;
    margin-bottom: $spacing
}

.myComponent{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(0,0, 0, 0.5));
}

.CharacterList{
    height: 150px;
    width: 312px;
    overflow-y: scroll;
}
.CharacterList li{
    display: block
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}